

*{
	margin: 0px;
	padding: 0px;
}

body {
	background: url(./wolf.jpg) center repeat;
	font-size: 100%;
}

img {
	max-width: 150px;
    height: auto;
}
.container{
	width: 100%;
	height: 150px;
	text-align: center;
	display: none;
}

.knop {
	padding-top: 20px;
}

.knop ul li {
	display: inline-block;
	padding: 20px;
}

.knop ul li a {
	display: none;
	width: 67px;
	background-color: #1abc9c;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;

}


.knop ul li a:hover {
	background-color: #ecf0f1;

}

li {
	border: 3px;
	border-color: black;
}

.highlight {
	background-color: #bdc3c7 !important;
}


.href {
	text-align: center;
}

.leftsidebar {
	height: 575px;
	width: 25%;
	background-color: red;
	float: left;
	position: fixed;
	background: url(./leftbar.jpg) center repeat;
	font-size: 100%;
}
.leftone {
	background-color: gold;
	height: 200px;
	width: 70%;
	margin: 0 auto;
	margin-top: 10px;


}

.lefttwo{
	background-color: blue;
	height: 200px;
	width: 70%;
	margin: 0 auto;
	margin-top: 25px;
}

.main{
	height: 650px;
	float: right;
	width: 50%;
	background-color: silver;
}

.rightsidebar{
	height: 650px;
	float: right;
	width: 25%;
	background-color: grey;
}


h3 {
	text-align: center;
	padding-top: 10px;
}

h2 {
	text-align: left;
	padding-left: 35px;
	font-family: italic;
	padding-top: 15px;
}

.closingbar p {
	text-align: left;
	padding-top: 5px;
	padding-left: 37px;
	font-size: 1em;
}
.closingbar{
	height: 125px;
	float: right;
	width: 75%;
	background-color: brown;
}
.contact {
	float: left;
}


.closingbar a {
	padding-right: 10px;
	padding-bottom: 50px;
}

.facebook {
	float: right;

}